<professor-title>
  <h1 class="mdc-typography--headline">Computer Science Faculty</h1>
</professor-title>
<base href="./professor/" />
<div class="mdc-card demo-card">
  <ul class="mdc-list">
    <li class="mdc-list-item"><a href="./christina">Zamfirescu, Christina, Professor;  PhD,</a></li>
    <li class="mdc-list-item"><a href="./cullen">Schaffer, Cullen, Associate Professor;  Ph</a></li>
    <li class="mdc-list-item"><a href="./eric">Schweitzer, Eric, Lecturer; MA</a></li>
    <li class="mdc-list-item"><a href="./felisa">Vazquez-Abad, Felisa, Professor;</a></li>
    <li class="mdc-list-item"><a href="./ioannis">Stamos, Ioannis, Associate Professor; PhD</a></li>
    <li class="mdc-list-item"><a href="./jia">Xu, Jia, Assistant Professor; PhD</a></li>
    <li class="mdc-list-item"><a href="./lei">Xie, Lei, Associate Professor; PhD</a></li>
    <li class="mdc-list-item"><a href="./raffi">Khatchadourian, Raffi, Assistant Professor;  PhD</a></li>
    <li class="mdc-list-item"><a href="./saad">Mneimneh, Saad, Assistant Professor;  Ph</a></li>
    <li class="mdc-list-item"><a href="./saptarshi">Debroy, Saptarshi, Assistant Professor; PhD</a></li>
    <li class="mdc-list-item"><a href="./stewart">Weiss, Stewart N., Associate Professor</a></li>
    <li class="mdc-list-item"><a href="./subash">Shankar, Subash, Associate Professor;  PhD</a></li>
    <li class="mdc-list-item"><a href="./susan">Epstein, Susan L., Professor;  PhD</a></li>
    <li class="mdc-list-item"><a href="./william">Sakas, William G., Associate Professor </a></li>
  </ul>
</div>
