<footer class="mdc-toolbar mdc-toolbar--fixed" style="position: fixed !important; bottom: 0 !important; top:inherit;">
    <div class="glyphs">
      <a  onclick="history.back(-1)" >
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      </a>
      <p> Back </p>
    </div>

    <div class="glyphs" style="border-left: solid; border-right: solid;">
      <a href="/" target="_self">
        <i class="fa fa-h-square" aria-hidden="true"></i>
      </a>
      <p> Home </p>
    </div>

    <div class="glyphs">
      <a href="/" target="_self">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </a>
      <p> Help </p>
    </div>
</footer>
