#num-2 {
  background-color: lightgrey;
  top: 3.2em;
  display: flex;
  text-align: center;
  height: 3em;
  color: #99237f;
}

center{
  position: fixed;
  width: 60%;
  height: 8%;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -30%;
  padding-top: 30px;
}

header {
  position: fixed;
  top: 35%;
  text-align: center;
  padding-left: 20%;
}
