<professor-title>
  <h1 class="mdc-typography--headline">SCHWEITZER, ERIC</h1>
  <h3 class="mdc-typography--subheading2">CSCI 340 - Operating Systems</h3>
</professor-title>

<div class="mdc-card demo-card">
  <section class="mdc-card__primary">
    Professor's Ratings
  </section>
  <ul class="mdc-list">
    <li class="mdc-list-item"> Organization - A </li>
    <li class="mdc-list-item"> Clarity - B+ </li>
    <li class="mdc-list-item"> Experience - B- </li>
    <li class="mdc-list-item"> Personality - B+ </li>
    <li class="mdc-list-item"> Grading - C </li>
  </ul>
</div>


<div class="mdc-card demo-card">
  <section class="mdc-card__primary">
    Professor also teaches:
  </section>
  <ul class="mdc-list">
    <li class="mdc-list-item"> CSCI 127 </li>
    <li class="mdc-list-item"> CSCI 135 </li>
    <li class="mdc-list-item"> CSCI 260 </li>
  </ul>
</div>

<div class="mdc-card demo-card">
  <section class="mdc-card__primary">
    Similar Professors:
  </section>
  <ul class="mdc-list">
    <a href="/prof"><li class="mdc-list-item"> SHOSTAK, PAVEL</li></a>
    <a href="/prof"><li class="mdc-list-item"> WINE, STANLEY J	</li></a>
    <a href="/prof"><li class="mdc-list-item"> WEISS, STEWART	</li></a>
  </ul>
</div>
