<professor-title>
  <h1 class="mdc-typography--headline">Computer Science Courses</h1>
</professor-title>
<base href="./courses/" />

<div class="mdc-card demo-card">
  <ul class="mdc-list">
    {{#each courses}}
    <li>{{this.Prefix}} {{this.Code}} - {{this.Name}}</li>
    {{/each}}
  </ul>
</div>
