<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Evalyo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <main>
    <h1>Hello</h1>
    <div id="main"><%- markup -%></div>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script>window.mdc.autoInit();</script>
    <script src="/js/script.js"></script>
  </body>
</html>
