
<course-title>
  <h1 class="mdc-typography--headline">{{course}} - {{name}}</h1>
</course-title>

<div class="mdc-card demo-card">
  <section class="mdc-card__primary">
    Professors by Rank
  </section>
  <ol class="mdc-list">
    <a href="/professor"><li class="mdc-list-item"> SCHWEITZER, ERIC</li></a>
    <a href="/professor"><li class="mdc-list-item"> SHOSTAK, PAVEL</li></a>
    <a href="/professor"><li class="mdc-list-item"> WINE, STANLEY J	</li></a>
    <a href="/professor"><li class="mdc-list-item"> WEISS, STEWART	</li></a>
  </ol>
</div>
