
.biology {
  background-image: url("../../icons/bio.png") !important;
  background-size: cover;
  height: 100px;
  width: 100px;
  padding: 2% !important;
  margin-left: 2% !important;
}

.chemistry {
  background-image: url("../../icons/chem.png") !important;
  background-size: cover;
  height: 100px;
  width: 100px;
  padding: 2% !important;
  margin-left: 2% !important;
}

.computer {
  background-image: url("../../icons/csci.png") !important;
  background-size: cover;
  height: 100px;
  width: 100px;
  padding: 2% !important;
  margin-left: 2% !important;
}

.economics {
  background-image: url("../../icons/econ.png") !important;
  background-size: cover;
  height: 100px;
  width: 100px;
  padding: 2% !important;
  margin-left: 2% !important;
}

.math {
  background-image: url("../../icons/math.png") !important;
  background-size: cover;
  height: 100px;
  width: 100px;
  padding: 2% !important;
  margin-left: 2% !important;
}

.philosophy {
  background-image: url("../../icons/philo.png") !important;
  background-size: cover;
  height: 100px;
  width: 100px;
  padding: 2% !important;
  margin-left: 2% !important;
}
