$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;
$blue: rgb(0, 136, 238) !important;
$red: rgb(238, 85, 68) !important;

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: $secondary-font;

  h1, h2, h3 {
    font-family: $primary-font
  }

}

.card{
  background: #fcfcfc;
  border: 1px solid #e6e6e6 !important;
  border-radius: 5px;
  box-shadow: .2px .2px .2px lightgrey;
}

.center {
  background: white;
}

.logo {
  height: 30px;
  width: 30px;
}

.action{
  border: 5px dashed rgb(0, 136, 238) !important;
  text-align: center;
  height: inherit;
  padding: 0px 15px 35px 15px;
}

.info{
  height: 1000px;
}

.banner{
  width: 100% !important;
}

.link{
  color:white;
  text-decoration: none;
}

.secondaryLink{
  color: $blue

}

.divider{
  border-color: $blue;
  border-style: solid;
  border-color: lightgray;
  margin-bottom: 1rem;
  margin: 10px 20px 15px 0px;
}

.divider_two{
  border-color: #fff;
  border-style: dashed;
  margin: 10px 20px 15px 20px;
}

footer{
  text-decoration: none;
  position: fixed;
  height: 2em;
  width: 100%;
  border-top: 1px solid #b2b2b2;
  background-color: #f4f4f4;
  color: #99237f;
  text-align: center;
  font-size: 1.5em;
  display: flex;
  bottom: 0;
}

ul {
  list-style: none;
  padding-bottom: 10px;
}
