body{
    background-color: #ededed;
}

#container{
    background-color: #ededed;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


#header{
    background-color: #533784;
    text-align: center;
}

button{
    background-color: #ededed;
    font-size: 30px;
    color: grey;
    text-align: center;
    border: 1px;
    padding: 32px 100px;
    float: left;
    transition: all 0.5s;
    cursor: pointer;
    margin: 25px;
}

button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}


button:hover span{
    padding-right: 25px;

}

button:hover span:after{
    opacity:1;
    right: 0;
}

button2 span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button2 span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 20px;
    transition: 0.5s;
}


button2:hover span{
    padding-right: 25px;

}

button2:hover span:after{
    opacity:1;
    right: 0;
}

input[type=text]{
    width: 270px;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    background-color: #ededed;
    background-image: url('http://www.abc.net.au/res/bundles/2.0.5/images/icon-search-grey@1x.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px; 
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 0 35%;
}

input[type=text]:focus{
    width: 35%;
}

#big_or{
    text-align: center;
}

#footer{
    clear: both;
    padding: 10px;
    background-color: #ededed;
    color: grey;
    text-align: right;
    padding-top: 150px;
    font-family: verdana;
}