* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Helvetica-Neueu", "Helvetica", "Sans";
}


.home {
  background-image: url("../img/thomas-hunter.jpg");
  width: 100%;
  height: 65vh;
  background-size: cover;
}

.center {
  background: white;
}

.info{
  height: 1000px;
}

.Toolbar{
  position: fixed !important;
  width: 100%;
}


Button{
  background-color: rgb(238, 85, 68) !important;
}

#logo{
  object-fit: cover;
  width: 30px;
  height: 30px;
}
